:root {
  --background-color: rgb(255, 255, 255);
  --text-color: blue;
}

body {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
}

h1 {
  font-size: 50px;
  color: var(--text-color);
}

h2 {
  font-family: 'Inter Tight', sans-serif;
  letter-spacing: 1px;
}

header h2 {
  font-size: 40px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: normal;
  color: blue;
  margin-bottom: -80px;
}

.project {
  background-color: blue;
}

.featured-image {
  width: 100%;
  height: auto;
}

.sidebar {
  display: flex;
  width: 200px;
  padding: 20px;
}

.container {
  display: inline-block;
  border: solid;
  padding: 50px;
}

.portfolio-item {
  position: relative;
  margin-bottom: 20px;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  max-width: 500px;
}

.text-block {
  background-color:rgb(86, 86, 86);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 5px;
  border-color: blue;
}

.text-block:hover {
  background-color: blue;
  text-decoration: underline;
  color: white;
}

.portfolio-image {
  width: 100%;
  height: 300px;
  position: relative;
  color: white;
  border: solid 5px;
  border-color: blue;
}

@media screen and (min-width: 600px) {
  .portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }

  .text-block {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: auto;
    background-color:rgb(86, 86, 86);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 5px;
    border-color: blue;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 50px;
}

nav {
  background-color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: white;
  align-items: center;
}

li {
  display: inline;
  padding: 20px;
  float: left;
}

li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px;
  background-color: #efefef;
  color: var(--text-color);
}

a {
  text-decoration: underline;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  color: black;
}

li a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 2, 255);
}

.topnav {
  overflow: hidden;
  background-color: rgb(86, 86, 86);
  margin-top: 100px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: blue;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

